html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-text: #757575;
  --text-title: #212121;
  --text-accent: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
}

/* common styles */
body {
  color: var(--main-text);
  background-color: var(--main-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

nav {
  display: flex;
  align-items: center;
}

.header-page > .container {
  display: flex;
}

.header-page .address .link {
  color: var(--main-text);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-page .address-list-top:not(:last-child) {
  margin-right: 30px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--text-title);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-accent);
}

.top {
  display: flex;
  align-items: center;
}

.site-nav,
.contact {
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--text-accent);
  position: relative;
}

.site-nav .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--text-accent);
  border-radius: 2px;
}

.header-page .contact {
  display: flex;
}

.header-page .address {
  margin-left: auto;
}

.contact .icon-envelope {
  width: 16px;
  height: 12px;
  fill: var(--main-text);
}

.contact .icon-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--main-text);
}

.address-list-top svg {
  margin-right: 10px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-top .link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-top .link:hover,
.address-list-top .link:focus {
  color: var(--text-accent);
}

.address-list-top .link:hover svg,
.address-list-top .link:focus svg {
  fill: var(--text-accent);
}

/* logo  styles common*/
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:hover {
  color: var(--text-accent);
}

.logo-start {
  color: var(--text-accent);
}

/* logo-end bottom */

.logo-end {
  color: var(--main-bg-color);
}

/* main page */

.section-title {
  color: var(--text-title);
}

/* hero */

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(47, 48, 58, 0.4);
  background-image: url(../images/images-hero/overlay.png),
    url(../images/images-hero/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  padding-top: 200px;

  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  text-align: center;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  padding: 10px 32px;
  margin-bottom: 200px;

  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  background-color: var(--text-accent);
  color: var(--main-bg-color);
  background-color: #2196f3;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background: var(--main-bg-color);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  padding: 6px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-button svg {
  width: 11px;
  height: 11px;
  fill: #000000;
}

/* advantages */
.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages h3 {
  margin-bottom: 10px;
  margin-top: 30px;
}
.advantages p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantages .section-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages p {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.advantages-list li {
  max-width: 270px;
}

.advanteges-list li:not(:last-child) {
  margin-right: 14px;
}

.section .advantages-list {
  padding-top: 20px;
}

.container .advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages li:not(:last-child) {
  margin-right: 30px;
}

.icon-antenna::before {
  content: "";
  height: 120px;
  display: block;

  background-color: var(--grey-bg-color);
  background-image: url(../images/images-png/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  height: 120px;
  display: block;

  background-color: var(--grey-bg-color);
  background-image: url(../images/images-png/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  content: "";
  height: 120px;
  display: block;

  background-color: var(--grey-bg-color);
  background-image: url(../images/images-png/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-diagram::before {
  content: "";
  height: 120px;
  display: block;

  background-color: var(--grey-bg-color);
  background-image: url(../images/images-png/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* works */

.section .works {
  padding-left: 15px;
  padding-right: 15px;
}

.works .section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
}

.works .list {
  padding-bottom: 94px;
}

.work {
  display: flex;
  justify-content: space-between;
}

.works {
  padding-right: 0px;
  padding-left: 0px;
}
.works-img {
  display: block;
}

.work li {
  position: relative;
}

.work-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-title p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

/* staff list */
.section .staff {
  padding-right: 15px;
  padding-left: 15px;
}

.staff-section {
  background-color: var(--grey-bg-color);
}
.staff > .section-title {
  margin-top: 0px;
  margin-bottom: 94px;

  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section > .staff {
  padding-top: 94px;
  padding-bottom: 94px;
}

.staff-list ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.staff-list li {
  background-color: var(--main-bg-color);
  border-radius: 0px 0px 4px 4px;
}

.staff li:not(:last-child) {
  margin-right: 30px;
}

.staff {
  padding-left: 0px;
  padding-right: 0px;
}

.staff-people > img {
  width: 270px;
  height: 260px;

  background-color: #2f303a;
}

.staff-people {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-link {
  display: flex;
  justify-content: center;
}

.social-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  margin-bottom: 30px;
}

.social-link-thumb {
  width: 44px;
  height: 44px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-thumb:hover,
.social-link-thumb:focus {
  background-color: var(--text-accent);
  border-radius: 50%;
  cursor: pointer;
}

.social-link-thumb:hover svg,
.social-link-thumb:focus svg {
  fill: var(--main-bg-color);
}

.social-link svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* clients */

.clients .section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;

  padding-right: 15px;
  padding-left: 15px;
}

.clients .list {
  display: flex;
  justify-content: space-between;
}

.clients .list a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  background-color: var(--main-bg-color);
  border: 2px solid #afb1b8;
  border-radius: 4px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-pic svg {
  fill: #afb1b8;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-pic:hover svg,
.clients-pic:focus svg {
  fill: var(--text-accent);
}

.clients .list a:hover,
.client .list a:focus {
  border: 2px solid var(--text-accent);
}

/* footer */

footer {
  background-color: var(--secondary-bg-color);
}

footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
}

footer .address {
  padding-left: 0px;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}

.address .link-address {
  color: var(--main-bg-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.8);
}

.address .address-start {
  color: var(--main-bg-color);
}

.address .address-end {
  color: rgba(255, 255, 255, 0.6);
}

.address-bottom .address {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 24px;
}

.social-links-footer .phrase {
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.socila-links-footer .sl-thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.sl-footer svg {
  width: 20px;
  height: 20px;
  fill: var(--main-bg-color);
}

.sl-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-footer a:hover,
.sl-footer a:focus {
  background-color: var(--text-accent);
}

.sl-footer {
  display: flex;
  margin-top: 20px;
}

.footer-container {
  display: flex;
}

.address-bottom {
  margin-right: 70px;
}

.sl-thumb:not(:last-child) {
  margin-right: 10px;
}
